OSM_MAP_CREATOR_DIR=C:\chemin\vers\OsmAndMapCreator

# Chemins pour la modification du renddering de OsmAndMapCreator
CUSTOM_XML_PATH=C:\chemin\vers\rendering_types_custom.xml

# Fichier source PBF
PBF_FILE_PATH=C:\chemin\vers\carte.pbf

# Dossier de sortie où seront stockés l'OBF et le rapport CSV
OUTPUT_DIR=C:\chemin\vers\dossier_de_sortie